.header-container {
    display: flex;
    background: #fe5f55;
    border: 5px #d6d1b1;
    border-style: groove;
    padding: 25px;

}

.header-container div {
    text-align: center;
    background: #eef5db;
    border:4px solid brown;
    height: auto;
    flex:  1 1 100%;
    align-self: flex-start ;
    
}

.flex-content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    max-width: auto;
    gap: 1rem;
    justify-content: center;
    
}

.flex-container {
    display: flex;
    background: #fe5f55;
    border:4px solid brown;
    border-style: groove;
    gap: 1rem;
    flex: 1 1 0;
    align-items: center;
    padding: 5px;
    
}

@media (max-width: 1100px) {
    .flex-content {
        flex-direction: column;

    }
}

.nav {
    text-align: center;
    height: fit-content;
    text-justify: center;
}
/* Can also use .flex-container div to for the same effect
    (the below combinator'> *' points to all children of the .flex-container selector  */
    
.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: auto;
    width: 100px;
    flex: 1 1 auto;
}

.Topics {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

    
}

.Topic {
    margin-top: 30px;
    border-style: groove;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    background-color: #c7efcf;
    max-width: 750px;
    flex: 1 1 0;
    list-style: none;
}

.Title {
    text-align: center;
}

.Topic li {
    padding-bottom: 5px;
    padding-left: 15px;
    
}
